#headerWrapper {
    padding: $gutter;
    h1 {font-size: 36px;}
}


h2 {
    text-align: center; 
    font-size: 32px; 
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    display: block;
    width: 100%; 
}

h2::after {
    content: ""; 
    display: block;
    width: 80px; // Adjust width of the underline
    height: 3px; // Thickness of the underline
    background-color: black; // Color of the underline
    margin: 8px auto 0; // Centers underline below the text
}

#aboutTitle {
    text-align: left; 
    font-size: 32px;
    font-weight: $lightWeight;
    margin-bottom: 20px;
    position: relative;
    display: block;
    margin-left: $gutter;
}

#aboutTitle::after {
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    background-color: black;
    margin: 8px 0 0; 
}


.allcards {
    display: flex;
    flex-wrap: wrap;
    gap: $gutter;

    section{
        flex-basis: calc(50% - ($gutter/2))
    }

    
}

.footer-content {
    flex-direction: row;
    justify-content: space-between;
    padding: $gutter;
    margin: $gutter;
}
