/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}

#headerWrapper {
    background-color: #edd4ae;
    color: #8F6593;
}



header {
    display: flex;
    align-items: center;
    padding: 1rem $gutter;
    gap: 8px;

    h1 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: $normalWeight;

    }
}


#navWrapper {
    background-color: $menuColor;
    
}


nav {

    button {
        padding: .5rem;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: rgba(255,255,255, 0.9);
    }// end button


    ul {
        display: none;
        //border-top: solid 1px rgba(255,255,255, 0.1);
        margin:0;
        padding:0;
        text-align: left;
    }

    ul.open {
        display:block;
    }

    ul li {
        list-style-type: none; 
        //border-bottom: solid 1px rgba(255,255,255, 0.1);
       
        
      }


    ul li a {
        display: block;
        font-weight: $lightWeight;
        padding: .9rem 2vw;
        //color: rgba(255,255,255, 0.9);
        text-decoration: none;
        
    }

    ul li.active a {background-color: white;}

    ul li a:hover{background-color: gray;}

}// end nav


  
.allcards {
    padding: 0 $gutter;
    section {
        overflow: hidden;
        margin: 1rem 0;
        h2, p, img {
            margin: 0;
            padding: 1rem $gutter;

        }


        h3 {
            font-size: 1.5rem;
            margin: 0;
            padding: 1rem $gutter;
            text-align: center;

        }
        img {
            width: 100%;
            height: auto;  
            display: block; 
        }
        img.e2e {padding: 0;}
        
        a {
            display:block;
            background-color: #8F6593;
            padding: .75rem;
            text-align: center;
            margin: 18px;
            border-radius: 8px;
            color:white;
            text-decoration: none;
        }



    }// end section

} // end all cards

main {
    h1 {
        padding: 1rem 2vw .5rem 2vw;
        color: black;
        
    }
} //main

.swiper, .swiper img {
    width: 100%;
    height: auto;
}


// swiper


// begin the footer
#footerWrapper {
    background: #9F4540;
}
footer {
    padding: 0.5rem $gutter;
    


    section.contact{
        p {font-size: 1.2rem; margin: .5rem;}
        

    }// end of contact


    section.social{
        display: flex;
        justify-content: center;
        a {
            display: block;
            border: solid 1px #666;
            font-size: 2rem;
            margin: .5rem;
            padding: .5rem;
            color: #8F6593;
            &:hover {
                background-color: #eadaeb;
            }
        }
        
    }// end of social


    section.location{
        font-size: 1.5rem;
    }// end of location

    p.legal {
        margin: 0;
        color:white;
        text-align: center;
    }
}