/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: $defaultFont;
    font-weight: $normalWeight;
    color: $fontColor;
}


#titleBar {
    background: #9F4540;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    width: 100%;
  }
  #titleBar h1 {
    font-weight: 300;
    color: white;
    margin: $gutter;
  }


header {
    display: flex;
    align-items: center;
    padding: $gutter;
    gap: 8px;

    h1 {
        margin: 0;
        font-size: 16px;
        font-weight: $normalWeight;

    }
}

header h1 {
    color: white; 
    margin: 0;
    padding:0;
    font-size: 16px;
}

header h1 a {
    text-decoration: none; 
    color: inherit; // Keeps the original text color
    font-weight: inherit; 
    display: inline-block; 
}

header h1 a:hover {
    color: inherit; // Prevents color change on hover
}


#navWrapper {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $gutter;
    width: 100%;
    position: relative;
    z-index: 10;
}


nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;

    button {
        display: block; 
        background: none;
        border: none;
        font-size: 32px;
        color: white;
        cursor: pointer;
        padding: 10px;
    }

     ul {
        display: none; 
        flex-direction: column;
        background: black;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        z-index: 20;
    }
    
    ul.open {
        display: flex;
    }
    ul li {
        width: 100%;
        padding: 10px 0;
    }

    ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: block;
        padding: 10px;
    }

    ul li.active a {
        background-color: #58B39E;
    }

    ul li a:hover {
        background-color: gray;
    }
}



  
.allcards {
    padding: 0 $gutter;
    section {
        overflow: hidden;
        margin: 1rem 0;
        h2, p, img {
            margin: 0;
            padding: 1rem $gutter;

        }


        h3 {
            font-size: 1.5rem;
            margin: 0;
            padding: 1rem $gutter;
            text-align: center;

        }
        img {
            width: 100%;
            height: auto;  
            display: block; 
        }
        img.e2e {padding: 0;}
        
        a {
            display:block;
            background-color: #58B39E;
            padding: .75rem;
            text-align: center;
            margin: 18px;
            border-radius: 8px;
            color:white;
            text-decoration: none;
        }




    }// end section

} // end all cards

main {
    h1 {
        padding: 1rem 2vw .5rem 2vw;
        color: black;
        
    }
    p {
        text-align: left;
        font-weight: $lightWeight;
        padding: $gutter;
        margin: $gutter;
        line-height: 1.5;
    }

    h2 {
        text-align: left; 
        font-size: 32px;
        font-weight: $lightWeight;
        margin-bottom: 20px;
        margin-left: $gutter; 
        padding: $gutter;
        position: relative;
        display: block;
        width: calc(100% - 16px);
    }
    
    h2::after {
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background-color: black;
        margin: 8px 0 0; 
    }
    

    h3 {
        font-weight: $lightWeight;
        display: inline-block; 
        position: relative;
        padding-bottom: 5px; 
        text-align: center;
    }
    
    h3::after {
        content: "";
        display: block;
        width: 100%; 
        height: 3px; 
        background-color: black; 
        margin-top: 5px; 
    }
} //main

// swiper

.swiper {
    width: 100%;
    height: 60vh; 
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



// begin the footer
#footerWrapper {
    background: #9F4540;
}

.footer-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    padding: $gutter;
    gap: 10px; 
}

.footer-content a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
